 <% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited this recipe from being saved:
    </h2>
 
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for [@user, @recipe] do |f| %>
<%= f.hidden_field :user_id%>

  <p>Recipe Name: <%= f.text_field :name %></p>
  <p>Cook Time: <%= f.text_field :time %></p>
  <ul>
    <%= f.fields_for :quantities do |q| %>
    <li>
      Quantity: <%= q.text_field :amount %>
        <%= q.fields_for :ingredient do |ingredient|%>
            Ingredient: <%= ingredient.text_field :name %>
        <%end%>
    </li>

    <% end %>
<p>Instructions: <%= f.text_area :instructions %></p>
<p>Description: <%=f.text_area :description %></p>
  </ul>
  <%= f.submit %>
<% end %>

