<h1>Create a New Recipe</h1>

<%= form_for @recipe do |f| %>
  <p>Recipe Name: <%= f.text_field :name %></p>
  <ul>
    <%= f.fields_for :quantities do |q| %>
    <li>
      Quantity: <%= q.text_field :amount %>
        <%= q.fields_for :ingredients do |ingredient|%>
      Ingredient: <%= ingredient.text_field :name %>
    <%end%>
    </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>