<h1>Create a New Recipe</h1>

<%= form_for @recipe do |f| %>
  <p>Recipe Name: <%= f.text_field :name %></p>
  <ul>
    <%= f.fields_for :ingredients do |ingredient| %>
    <li>
      Ingredient: <%= ingredient.text_field :name %>
        <%= f.fields_for :quantities do |quantity|%>
      qty: <%= quantity.text_field :amount %>
    <%end%>
    </li>
    <% end %>
    <%= link_to 'add ingredient', @recipe %>
  </ul>
  <%= f.submit %>
<% end %>