<h1><%= @recipe.name %></h1>

<p>Description: <%=@recipe.description%></p>
<!-- <p> @recipe.description </p> -->
<p>Cook Time: <%= @recipe.time  %> minutes</p>

<p>Ingredients: <%= @recipe.quantities.each do |quant| %>
         <%= quant.amount %> X <%= quant.ingredient.name %> 
<% end %> </p>
<p>Instructions: <%=@recipe.instructions%></p>

<div>
  <ul class="recipe-actions">
    <li><%= link_to "Back", recipes_path %></li>
    <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
    <li><%= link_to "Delete", recipe_path(@recipe), data: {
      confirm: "Are you sure you want to delete: #{@recipe.name}?"
    }, method: :delete %></li>
  </ul>
</div>