<h1><%= @recipe.name %></h1>

<h2>Description: <%=@recipe.description%></h2>
<!-- <p> @recipe.description </p> -->
<h2>Cook Time: <%= @recipe.time  %> minutes</h2>

<p>Ingredients: <% @recipe.quantities.each do |quant| %> </p>
         <p><%= quant.amount %> x <%= quant.ingredient.name %> </p>
<% end %> 
<p>Instructions: <%=@recipe.instructions%></p>

<div>
 <div class="recipes">
  
      <% if current_user.id == @recipe.user.id %>
      <ul class="recipe-actions">
        <li><%= link_to "Edit", edit_user_recipe_path(current_user, @recipe) %></li>
        <li><%= link_to "Delete", recipe_path(@recipe), data: {
          confirm: "Are you sure you want to delete: #{@recipe.name}?"
        }, method: :delete %></li>
      </ul>
      <%end%>
    </div>
</div>

