<h1>Welcome to Josh's Digital Recipe Book</h1>

<%= form_for @user do |f| %>
<%= f.label :username %> <br>
<%= f.text_field :username %><br>
<%= f.label :password %> <br>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation %> <br>
<%= f.password_field :password_confirmation %><br>

<%= f.submit %>


<%end%>
