<h1>Welcome to Josh's Digital Recipe Book</h1>

<%= form_for @user do |f| %>
<%= f.label :email %> <br>
<%= f.text_field :email %><br>
<%= f.label :password %> <br>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation %> <br>
<%= f.password_field :password_confirmation %><br>

<%= f.submit %>

    <% if current_user %>
    <%= "Welcone #{current_user.name}"
    <% else%>
    <%= link_to "Sign in with Github", "/auth/github" %>
    <%end%>

<%end%>
